* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111111;
}

h1, p {
  background-color: #444444;
  padding: 20px;
  text-align: left;
  color: #fc7703
}

h1 {
  background-color: #615e5e;
  padding: 50px;
  border-bottom: 1px solid #5D6063;
}

button{
  color: #FFF;
  background-color: #ff8c00;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  width: 200px;
  box-sizing: border-box;
  margin: 20px auto;
}

video {
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  width: 600px;
  box-sizing: border-box;
  margin: 20px auto;
}

body {
  text-align: center;
}

div {
  color: #FC7703;
}
