* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #EEEEEE;
}


h1 {
  background-color: #444444;
  padding: 50px;
  text-align: center;
  color: #fc7703
}

h2 {
  text-align: center;
  color: #FC7703;
  background-color: #615e5e;
  padding: 50px;
}

p {
  background-color: #615e5e;
  padding: 100px 70px 50px 70px;
  text-align: justify;
  color: #fc7703;
  font-size: 22;
}



.button{
  color: #FFF;
  background-color: #ff8c00;
  font-weight: bold;
  font-size: 20;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  width: 150px;
  box-sizing: border-box;
  margin: 20px auto;
}

.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #DD6A00;
}

video {
  padding: 0px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 0px;
  width: 800px;
  margin-top: 20px;
  box-sizing: border-box;
  background-color: #000;
}

body {
  text-align: center;
  background-color: #615e5e;
}

div {
  color: #FC7703;
  background-color: #615e5e;
  font-weight: bold;
  font-size: 20;
  text-align: center;
  box-sizing: border-box;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  background-color: #615e5e;
  margin: auto;
  padding-bottom: 20px;
  color: #ff8c00;
}

td {
  border: 3px solid #444444;
  text-align: left;
  padding: 8px;
  background-color: #615e5e;
  font-size: 20;
}
